#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 600;
  font-size: 48px;

  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 24px;

  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;

  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #f9f9fb;
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#navbar {
  width: 100%;

  padding: 22px 40px;
  background: rgba(239, 239, 253, 0.9);
  box-shadow: 0 4px 12px -4px rgb(0 0 0 / 10%);

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#harukiGonai {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 19px;

  color: #000;

  text-decoration: none;
  letter-spacing: 1.5px;
}

#navbarLinks {
  display: flex;
  gap: 50px;
}

#navbarLinks a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  color: #000 !important;

  text-decoration: none;
  white-space: nowrap;
}

#contentWrapper {
  max-width: 916px;
  margin: 100px auto 0 auto;

  position: relative;
  box-sizing: border-box;
}

@media (max-width: 986px) {
  #contentWrapper {
    margin: 100px 30px 0 30px;
  }
}

@media (max-width: 747px) {
  #myPhoto {
    display: none !important;
  }
}

@media (max-width: 571px) {
  #navbarLinks {
    padding-left: 57px;
    padding-right: 30px;
  }
}

#homeHeader {
  margin-bottom: 10px;
}

#homeSubHeader {
  margin-bottom: 15px;
}

.homeCategory {
  margin-top: 40px;
}

.homeCategoryTitle {
}

.homeCategoryDesc {
}

#homeContent {
  height: 100%;
  display: inline-block;
}

#myPhoto {
  position: absolute;
  top: 10px;
  right: 0;

  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: 20% 10%; /* try 20px 10px */
  border-radius: 50%;

  display: block;

  box-shadow: 0 4px 12px -4px rgb(0 0 0 / 10%);
}
