#root {
  min-width: 344px;

  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 600;
  font-size: 48px;

  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 24px;

  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;

  margin: 0;
}

h4 {
  font-weight: 600;
  font-size: 20px;

  margin: 0;
}

h5 {
  font-weight: 500;
  font-size: 13px;

  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #f9f9fb;
  height: 100%;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navbar {
  width: 100%;

  padding: 22px 40px;
  background: rgba(239, 239, 253, 0.9);
  box-shadow: 0 4px 12px -4px rgb(0 0 0 / 10%);
  backdrop-filter: blur(3px);

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 3;
  opacity: 1;
}

#harukiGonai {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 19px;

  color: #000;

  text-decoration: none;
  letter-spacing: 1.5px;

  height: 24px;
}

#navbarLinks {
  display: flex;
  gap: 50px;
}

.navbarLink {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  color: #000 !important;

  text-decoration: none;
  white-space: nowrap;
}

#contentWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 55px 100px 55px;

  max-width: 916px;
  margin: 100px auto 0 auto;

  position: relative;
  box-sizing: content-box;
}

@media (max-width: 986px) {
  #contentWrapper {
    margin-top: 100px;
  }
}

@media (max-width: 747px) {
  #contentWrapper {
    max-width: fit-content;
  }
  #myPhoto {
    display: none !important;
  }
}

#homeHeader {
  margin-bottom: 10px;
}

#homeSubHeader {
  margin-bottom: 15px;
}

.homeCategory {
  margin-top: 40px;
}

.homeCategoryTitle {
}

.homeCategoryDesc {
}

#homeContent {
  padding-top: 70px;

  height: 100%;
  display: inline-block;
}

#myPhoto {
  position: absolute;
  top: 10px;
  right: 0;

  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: 20% 10%; /* try 20px 10px */
  border-radius: 50%;

  display: block;

  box-shadow: 0 4px 12px -4px rgb(0 0 0 / 10%);

  margin-right: 55px;
}

#hamburgerContainer {
  position: relative;
  display: none;

  width: 22px;
  height: 24px;
}

@media (max-width: 1043px) {
  #hamburgerContainer {
    display: block;
  }

  .navbarLink {
    display: none !important;
  }

  .course {
    white-space: normal !important;
  }

  .courseName {
    display: block !important;
  }

  .courseNumber {
    margin-left: 40px;
    width: 200px !important;
  }
}

#hamburger {
  width: 100%;
  height: 100%;

  transition: 0.2s ease;

  cursor: pointer;
}

.hamburgerActive {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

#hamburgerMenu {
  position: absolute;
  right: -5px;

  background-color: white;
  box-shadow: 0 4px 12px -4px rgb(0 0 0 / 10%);
  border-radius: 8px;
  width: fit-content;

  padding: 5px 0;

  opacity: 0;
  z-index: 1;
}

.hamburgerMenuActive {
  opacity: 1 !important;
}

.hamburgerLink {
  display: flex;
  align-items: center;
  padding: 0 15px 0 10px;

  height: 30px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  color: #000 !important;

  text-decoration: none;
  white-space: nowrap;
}

.hamburgerLink:hover {
  background: #eee;
}

#contactMeHeader {
  margin-bottom: 50px !important;
}

#contactMeContent {
  margin-bottom: 50px !important;
}

#contactMeLookingForward {
  margin-bottom: 15px;
}

#contactMeEmail a {
  color: rgb(84, 102, 249);
  text-decoration: none;
}

#contactMeEmail a:hover {
  text-decoration: underline;
}

#relevantCourseworkContent {
  height: 100%;
  width: 100%;

  display: inline-block;
}

#relevantCourseworkHeader {
  margin-bottom: 20px;
}

#GPA {
}

#departmentalGPA {
}

.semester {
  margin-top: 25px;
}

.course {
  width: 100%;
  white-space: nowrap;

  display: flex;
}

.courseName {
  display: inline-block;
}

.courseNumber {
  margin-left: auto;
  display: inline-block;
}

.courseGrade {
}

#projectsContent {
  max-width: 100%;
}

#projectsHeader {
  margin-bottom: 20px;
}

#projectsWrapper {
  display: flex;
  flex-wrap: wrap;

  max-width: 100%;
  gap: 30px;
}

.project {
  max-width: 282px;
  height: 390px;

  display: flex;
  flex-direction: column;
  height: inherit;
  flex-grow: 1;
  flex-basis: 100%;

  box-shadow: rgb(228 228 234 / 22%) 0px 22px 25px 0px,
    rgb(228 228 234 / 50%) 0px 9px 23px 0px;
  border-radius: 8px;

  text-decoration: none;

  transition: 0.2s ease;
}

.project:hover {
  box-shadow: rgb(228 228 234 / 56%) 0px 22px 32px 0px,
    rgb(228 228 234 / 64%) 0px 9px 28px 0px;
  transform: translateY(-2px);

  transition: 0.2s ease;
}

.projectPicture {
  height: 163px;
}

.projectTextDiv {
  padding: 32px 36px;
  height: 228px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 36px;
}

.projectText {
  color: #000;
}

.projectGithubLink {
  color: rgb(86, 86, 116);
}
